<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	
	<th:block th:insert="fragments/navbar :: head" />

	<title>Football team chooser</title>
	
</head>
<body>
	
	<th:block th:insert="fragments/navbar :: navbar" />
	
	
	<div class="container-fluid">
		<div class="panel-body">
			<h2>About</h2>
			<p>This is a working live DEMO of my application Football Team Chooser</p>
			<p>For more information, read the Readme file that can be found in my GitHub repository</p>
			<p><a href="https://github.com/slawvs/FootballTeamChooser">Football Team Chooser Repository</a></p>
		</div>
	</div>

	
	
</body>
</html>