<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<th:block th:insert="fragments/navbar :: head" />
	<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="fragments/navbar :: navbar" />
	<div class="container-fluid">
		<div class="panel-body">
	        <h1>playersForGame :</h1>
	        <table border="1">
	            <tr>
	                <th>NickName</th>
	                <th>SkillIndex</th>
	            </tr>
	            <tr th:each="singlePlayer: ${listOfPlayers}" th:object="${singlePlayer}">
	                <td th:text="*{nickName}">Some No Name</td>
	                <td th:text="*{skillIndex}"> 2 </td>
	            </tr>
	        </table>
	        <div class="col-md-6">
	        <h1>Black Team Players :</h1>
	        <table border="1">
	            <tr>
	                <th>NickName</th>
	                <th>SkillIndex</th>
	            </tr>
	            <tr th:each="singlePlayer: ${blackTeam}" th:object="${singlePlayer}">
	                <td th:text="*{nickName}">Some No Name</td>
	                <td th:text="*{skillIndex}"> 2 </td>
	            </tr>
	        </table>
	        </div>
	        
	        <div class="col-md-6">
			<h1>White Team Players :</h1>
	        <table border="1">
	            <tr>
	                <th>NickName</th>
	                <th>SkillIndex</th>
	            </tr>
	            <tr th:each="singlePlayer: ${whiteTeam}" th:object="${singlePlayer}">
	                <td th:text="*{nickName}">Some No Name</td>
	                <td th:text="*{skillIndex}"> 1 </td>
	            </tr>
	        </table>
	        </div>
	        
	        <a th:href="@{/calculate}" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-repeat"></span> Calculate squads (u can do it again)</a>
			<form action="#" method="post" th:action="@{/newGame}" >
			        <button type="submit" value="NewGame"><span class="glyphicon glyphicon-floppy-disk"></span> Save game to history</button>
			</form>
		</div>
	</div>

</body>
</html>