<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	
	<th:block th:insert="fragments/navbar :: head" />

	<title>Football team chooser</title>
	
</head>
<body>
	
	<th:block th:insert="fragments/navbar :: navbar" />
	
	
	<div class="container-fluid">
		<div class="panel-body">
			<div class="contact-info">
	             <div class="section-title">
	                  <h2>Contact Info</h2>
	                  <p>For any question please contact me via email or Linkendin.com </p>
	             </div>
	             <p><a href="mailto:morawski.slawomirr@gmail.com">morawski.slawomirr@gmail.com</a></p>
	             <p><a href="https://www.linkedin.com/in/sławomir-morawski">Sławomir Morawski on Likendin.com</a></p>
	        </div>
		</div>
	</div>

	
	
</body>
</html>