<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
	<th:block th:insert="fragments/navbar :: head" />
	<title>Football team chooser</title>
</head>
<body>
	<th:block th:insert="fragments/navbar :: navbar" />
	<div class="container-fluid">
		<div class="panel-body">
		    <h1>Show Player</h1>
		    <table class="table table-bordered table-condensed table-hover table-striped">
		    <tr th:object="${player}">
		    <td th:text="*{id}">Some No Name</td>
		    <td th:text="*{nickName}">Some No Name</td>
		    <td th:text="*{skillIndex}"> 2 </td>
			</tr>
			</table>
			
			<h1>Edit Player</h1>
		    <form action="#" method="post" th:action="@{/save}" th:object="${player}" >
		    	<input type="hidden" th:field="*{id}" />
		        <p>Nickname <input type="text" th:field="*{nickName}" /></p>
		        <p>Skill <input type="number" th:field="*{skillIndex}" min="1" max="10" /></p>
		        <input type="submit" value="Save" />
		    </form>
		</div>
	</div>    
</body>
</html>