<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	
	<th:block th:insert="fragments/navbar :: head" />

	<title>Football team chooser</title>
	
</head>
<body>
	
	<th:block th:insert="fragments/navbar :: navbar" />
	
	
	<div class="container-fluid">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>List of all Games</h2>
				<table class="table table-bordered table-condensed table-hover table-striped">
			        <tr>
			            <th>Id</th>
			            <th>Date</th>
			            <th>White Team Score</th>
			            <th>Black Team Score</th>
			        </tr>
			        <tr th:each="singleGame: ${allGames}" th:object="${singleGame}">
			            <td th:text="*{id}"> 1 </td>
			            <td th:text="*{date}"> 2012-10-22 10:00 </td>
			            <td th:text="*{teams[0].score}"> 1 </td>
			            <td th:text="*{teams[1].score}"> 1 </td>
			        </tr>
		    	</table>
			</div>
		</div>
	</div>

	
	
</body>
</html>