<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Football team chooser</title>
</head>
<body>
    <h1>Player Registration</h1>
    <form action="#" method="post" th:action="@{/save}" th:object="${player}">
        <p>Nickname <input type="text" th:field="*{nickName}" /></p>
        <p>Skill <input type="number" name="skillIndex" min="1" max="10" />
        </p>
        <input type="submit" value="Save" />
    </form>
    <a th:href="@{/show}">Calculate and show teams (u need at least 10 players to do that)</a>
</body>
</html>