<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	
	<!-- Bootstrap -->	
	<th:block th:insert="fragments/navbar :: bootstrap&jquery" />

	<title>Football team chooser</title>
	
	<style th:replace="fragments/navbar :: style"></style>
	
</head>
<body>
	
	<div th:replace="fragments/navbar :: top-navbar"></div>
	
	<div th:replace="fragments/navbar :: left-menu"></div>
	
	<div class="container-fluid">
		<div class="panel-body" style="margin-left: 500px;">
			<p>Football team chooser</p>
		</div>
	</div>
	<div th:replace="fragments/navbar :: bottom-navbar"></div>
	
	
</body>


</html>