<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css">
    <!-- jQuery first, then Bootstrap JS -->
    
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    
    <!-- Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">
	
	<title>Login page</title>
	
</head>
<body id="loginPage">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Login to Your Account</strong>
					</div>
					<div class="panel-body">
						<form method="POST" th:action="@{/login}" class="form-singin form-horizontal">
							<div th:if="${param.error}">
		                        <div class="alert alert-danger">
		                            Invalid username and password.
		                        </div>
		                    </div>
		                    <div th:if="${param.logout}">
		                        <div class="alert alert-info">
		                            You have been logged out.
		                        </div>
		                    </div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="input-group input-group-md">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-user"></span>
										</span>
										<input name="username" class="form-control" type="text" placeholder="Enter Username"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="input-group input-group-md">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span>
										<input name="password" class="form-control" type="password" placeholder="Enter Password"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<button type="submit" class="btn btn-default btn-block">
										<span class="glyphicon glyphicon-log-in"></span> Login
									</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<a th:href="@{/register}">Registration</a>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<p><strong>Account for Viewing purpose : </strong></p>
									<p>Username : a@a.pl </p>
									<p>Password : a </p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
</body>
</html>