<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	
	<th:block th:insert="fragments/navbar :: head" />

	<title>Football team chooser</title>
	
</head>
<body>
	
	<th:block th:insert="fragments/navbar :: navbar" />
	
	
	<div class="container-fluid">
		<div class="panel-body">
			<div class="col-md-12">
				<h1>New Game Record enter date and score</h1>
				
				<div class="col-md-6">
		        <h1>Black Team Players :</h1>
		        <table border="1">
		            <tr>
		                <th>NickName</th>
		                <th>SkillIndex</th>
		            </tr>
		            <tr th:each="singlePlayer: ${blackTeam}" th:object="${singlePlayer}">
		                <td th:text="*{nickName}">Some No Name</td>
		                <td th:text="*{skillIndex}"> 2 </td>
		            </tr>
		        </table>
		        </div>
		        
		        <div class="col-md-6">
				<h1>White Team Players :</h1>
		        <table border="1">
		            <tr>
		                <th>NickName</th>
		                <th>SkillIndex</th>
		            </tr>
		            <tr th:each="singlePlayer: ${whiteTeam}" th:object="${singlePlayer}">
		                <td th:text="*{nickName}">Some No Name</td>
		                <td th:text="*{skillIndex}"> 1 </td>
		            </tr>
		        </table>
		        </div>
	        
				<form action="#" method="post" th:action="@{/saveGame}" th:object="${gameRecord}">
					<p>Date <input type="date" th:field="*{date}" /></p>
			        <button type="submit" value="NewGame"><span class="glyphicon glyphicon-floppy-disk"></span> Save game!!</button>
				</form>				
			</div>
		</div>
	</div>

	
	
</body>
</html>