<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<th:block th:insert="fragments/navbar :: head" />
	<title>Football team chooser</title>
</head>
<body>
	<th:block th:insert="fragments/navbar :: navbar" />
	<div class="container-fluid">
		<div class="panel-body">
			<h1>playersForGame :</h1>
		    <table class="table table-bordered table-condensed table-hover table-striped">
		        <tr>
		            <th>NickName</th>
		            <th>SkillIndex</th>
		        </tr>
		        <tr th:each="singlePlayer: ${listOfPlayers}" th:object="${singlePlayer}">
		            <td th:text="*{nickName}">Some No Name</td>
		            <td th:text="*{skillIndex}"> 2 </td>
		        </tr>
		    </table>
			
			<a th:href="@{/calculate}">Calculate squads </a>
		</div>
	</div>	
</body>
</html>